body {
    background-image: url(images/bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#playground {
    position: absolute;
}

@keyframes animate {
    50% {
        right: 15px; 
    }
}

#sea {
    animation-duration: 0.5s; 
    animation-name: animate; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    position: absolute;
    height: 100%;
    right: 0px;
}

@font-face {
    font-family: pixelate; 
    src: url('SFPixelate.ttf') format('truetype');
}

#stats {
    position: absolute; 
    margin: 15px;
    font-family: pixelate; 
    font-size: 25px;
    color: white;
}

#organic { 
    position: absolute;
    height: 30%;
    margin-top: 475px;
    right: 900px;
}

#metal { 
    position: absolute;
    height: 30%;
    margin-top: 475px;
    right: 720px;
}

#plastic { 
    position: absolute;
    height: 30%;
    margin-top: 475px;
    right: 540px;
}

#glass { 
    position: absolute;
    height: 30%;
    margin-top: 475px;
    right: 360px;
}

#yellow_been { 
    position: absolute;
    height: 100%;
    right: 765px;
}

#red_been { 
    position: absolute;
    height: 100%;
    right: 585px;
}

#blue_been { 
    position: absolute;
    height: 100%;
    right: 405px;
}

#green_been { 
    position: absolute;
    height: 100%;
    width:-70%;
    right: 945px;
}